*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    margin: 0px;
    background: linear-gradient(90deg, rgb(134, 53, 114) 0%, rgb(81,86,172) 100%);
}
.disableSelect
{
    user-select: none;
}
.textCenter
{
    text-align: center;
}
.textWhite
{
    color:rgb(255, 255, 255);
}
.textNormal
{
    font-size: 30px;
}
.textSmall
{
    font-size: 20px;
}
.borderRound
{
    border-radius: 5px;
}
.openRequestFormButtonContainer
{
    margin-top: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.openRequestFormButton
{
    position: relative;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    scale: 100%;
    /*transition: transform .2s;*/
    /* Предпочтительно создавать анимации с помощью js (я думаю так, потому что тестировал эту
    стандартную анимацию (не через фреймы, то, что ниже), которая создавала неприятный) эффект блюра 
    на тексте при старте. Возможно с кадрами эффект пропадёт, надо сравнивать)*/
}
/*
.openRequestFormButton:hover
{
    transform: scale(1.1);
}
*/
.mapContainer
{
    margin-top: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#map
{
    width: 500px;
    height: 500px;
}
.mapObject
{
    border-radius: 20px;
}
.requestFormBlur
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
}
.requestFormContainer
{
    display: none;
    position: absolute;
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    scale: 50%;
}
.requestForm
{
    padding: 30px;
    border-radius: 10px;
}
.requestFormButtons
{
    position: relative;
    display: none;
    margin-top: 10px;
    justify-content: end;
    scale: 50%;
}
.cancelButton, .submitButton
{
    padding: 8px;
    scale: 100%;
}
.cancelButton
{
    margin-right: 10px;
}
.backgroundBlue
{
    box-shadow:
    inset 0 0 20px rgb(255, 255, 255),
    inset 10px 0 100px rgb(0,185,255),
    inset -10px 0 100px rgb(222,97,197),
    inset 10px 0 300px rgb(0,185,255),
    inset -10px 0 300px rgb(222,97,197),
    -5px 0 20px rgb(0,185,255),
    5px 0 20px rgb(222,97,197);
}
.backgroundMagenta
{
    box-shadow:
    inset 0 0 20px rgb(255, 255, 255),
    inset 10px 0 100px rgb(222,97,197),
    inset -10px 0 100px rgb(0,185,255),
    inset 10px 0 300px rgb(222,97,197),
    inset -10px 0 300px rgb(0,185,255),
    -5px 0 20px rgb(222,97,197),
    5px 0 20px rgb(0,185,255);
}
::placeholder
{
    color: rgba(255, 255, 255, 0.7);
}
::selection
{
    color: rgba(222,97,197, 0.5);
    background: rgba(255, 255, 255, 0.5);
}
.nameInput, .phoneInput, .descriptionInput
{
    padding: 5px;
    margin-top: 10px;
}
.nameInput
{
    margin-top: 0px;
}
.nameInput, .phoneInput
{
    width: 250px;
}
.descriptionInput
{
    width: 400px;
    height: 200px;
    resize: none;
}