/*Main font*/

@font-face
{
    font-family: 'Corbel';
    src: URL('./corbel.ttf') format('truetype');
}
*
{
    font-family: 'Corbel';
}

/*General styles*/

body
{
    margin: 0px;
    background: rgb(210, 210, 250);
}
.disableSelect
{
    user-select: none;
}
.textCenter
{
    text-align: center;
}
.textLarge
{
    font-size: 23px;
}
.textMedium
{
    font-size: 19px;
}
.colorGray
{
    color: rgb(140, 140, 140);
}
.flexBox
{
    display: flex;
}
.flexCenter
{
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/*Class elements*/

.header
{
    position: sticky;
    top: 0;
}
.title
{
    padding: 9px;
    border-bottom: 2px solid transparent;
}
.buttonListForm
{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transform: translateY(calc(-100% - 2px));
    gap: 20px;
}
.button
{
    min-width: 200px;
    border-radius: 0px 0px 15px 15px;
}
.buttonText
{
    padding: 7px;
}
.underline
{
    margin: auto;
    opacity: 0;
    background-color: rgb(180, 180, 180);
    width: 50%;
    height: 2px;
    transform: scaleX(0.5);
}
.content
{
    height: 700px;
}
.footer
{
    height: 700px;
}

/*Transitions and relations*/

.header:hover > .title:not(.scrollAnimation)
{
    transition: 0s opacity;
    opacity: 0;
}
.title:not(.scrollAnimation)
{
    transition: 0.5s 0.25s background-color, 0.25s border-color, 0.4s opacity;
}
.title.scrollAnimation
{
    transition: 0.2s background-color;
    background-color: rgb(245, 245, 250);
    border-color: rgb(180, 180, 180);
}
.buttonListForm:not(.scrollAnimation)
{
    transition: 0.4s opacity, 0.5s transform;
}
.header:hover > .buttonListForm
{
    transition: 0.4s opacity, 0.5s transform;
    opacity: 1;
    z-index: 0;
}
.header:hover > .buttonListForm.scrollAnimation
{
    z-index: -1;
}
.buttonListForm.scrollAnimation
{
    transition: 0.4s opacity, 0.5s transform;
    opacity: 1;
    opacity: 1;
    transform: translateY(0);
    z-index: -1;
}
.button
{
    transition: 0.5s background-color;
}
.underline
{
    transition: 0.25s transform;
}
.button:hover
{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.button:hover > .underline
{
    transform: scaleX(1);
}
.buttonListForm.scrollAnimation > .button
{
    background-color: rgb(245, 245, 250);
}
.buttonListForm.scrollAnimation > .button:hover
{
    color: rgb(40, 40, 40);
}
.buttonListForm.scrollAnimation > .button > .underline
{
    transition: 0s transform;
    transform: scaleX(0);
}
.buttonListForm:not(.scrollAnimation):hover > .button > .underline
{
    opacity: 1;
}

/*
Triggers:
    scrollAnimation
*/