/*Font styles*/

@font-face
{
    font-family: 'CorbelL';
    src: URL('./corbelL.ttf') format('truetype');
}
@font-face
{
    font-family: 'Corbel';
    src: URL('./corbel.ttf') format('truetype');
}
.corbelL
{
    font-family: 'CorbelL';
}
.corbel
{
    font-family: 'Corbel';
}

/*WebKit*/

::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background-color: rgb(160, 170, 190);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb
{
    background: rgb(120, 130, 150);
    border-radius: 3px;
}

/*General styles*/

body
{
    margin: 0px;
    background: rgb(210, 210, 250);
}
body::-webkit-scrollbar
{
    width: 0px;
}
.disableSelect
{
    user-select: none;
}
.textHuge
{
    font-size: clamp(1em, 2.25vw, 2.25vw);
}
.textVeryLarge
{
    font-size: clamp(1em, 1.5vw, 1.5vw);
}
.textLarge
{
    font-size: clamp(1em, 1.2vw, 1.2vw);
}
.textMedium
{
    font-size: clamp(1em, 1vw, 1vw);
}
.textSmall
{
    font-size: clamp(1em, 0.75vw, 0.75vw);
}
.textCenter
{
    text-align: center;
}
.textRight
{
    text-align: right;
}
.colorWhite
{
    color: rgb(255, 255, 255);
}
.colorGray
{
    color: rgb(130, 130, 130);
}

/*main class*/

:root
{
    --scrollPositionH: 0vh;
    --scrollPositionP: 0%;

    --registrationButtonVectorXW: 0vw;
    --registrationButtonVectorYH: 0vh;
    --registrationButtonVectorXP: 0%;
    --registrationButtonVectorYP: 0%;

    /*
    --backgroundVH: 0vh;
    --backgroundPH: 0%;

    --labelVH: 0vh;
    --labelVW: 0vw;
    --labelPH: 0%;
    --labelWH: 0%;
    --labelX: 0px;
    --labelY: 0px;

    --buttonVH: 0vh;
    --buttonVW: 0vw;
    --buttonPH: 0%;
    --buttonPH: 0%;
    --buttonX: 0px;
    --buttonY: 0px;
    */
}
@keyframes pulsatorAnimation
{
    0%
    {
        width: 0%;
        height: 0%;
        background-color: rgba(255, 255, 255, 1);
    }
    40%
    {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
    }
    60%
    {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    }
    100%
    {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}
@media (min-width: 64em)
{
    #main
    {
        .noise
        {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: url("./noise.png");
            background-size: 170px;
            opacity: 0.05;
            z-index: -1;
        }
        .header
        {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1;
            .title
            {
                width: 100%;
                padding: 5px;
            }
            .buttonList
            {
                position: fixed;
                display: flex;
                width: 100%;
                gap: 1vw;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                z-index: -1;
                .titleButton
                {
                    width: 10vw;
                    border-radius: 0 0 1vw 1vw;
                    .buttonText
                    {
                        padding: 5px;
                    }
                    .underline
                    {
                        width: 50%;
                        height: 2px;
                        margin: auto;
                        background-color: none;
                    }
                }
            }
        }
        .content
        {
            width: 100%;
            height: 300vh;
            .main
            {
                width: 100%;
                height: 100%;
                .background
                {
                    position: fixed;
                    width: 60%;
                    top: 10%;
                    left: 0%;
                    transform: translateY(calc(var(--scrollPositionH) * -20));
                }
                .label
                {
                    position: fixed;
                    top: 25vh;
                    right: 5vw;
                    width: 30vw;
                    transform: translateY(calc(var(--scrollPositionH) * -80));
                }
                .openRegistrationButtonContainer
                {
                    display: flex;
                    position: fixed;
                    top: 62vh;
                    right: 12vw;
                    width: 15vw;
                    height: 10vh;
                    border: 2px solid rgb(140, 140, 140);
                    border-radius: 1vw;
                    /*TRAX*/
                    transform: translate(calc(var(--scrollPositionH) * 5), calc(var(--scrollPositionH) * -52));
                    .buttonText
                    {
                        z-index: 1;
                        margin: auto;
                    }
                    .openRegistrationButton
                    {
                        display: flex;
                        position: absolute;
                        width: 75%;
                        height: 75%;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(255, 255, 255);
                        border-radius: 1vw;
                        transition: 0.2s width, 0.2s height;
                        transform: translate(calc(7.5vw - 50% + var(--registrationButtonVectorXW) * 7.5 - var(--registrationButtonVectorXP) * 50), calc(5vh - 50% + var(--registrationButtonVectorYH) * 5 - var(--registrationButtonVectorYP) * 50));
                    }
                    .buttonPulsator
                    {
                        display: flex;
                        position: absolute;
                        align-items: center;
                        justify-content: center;
                        border-radius: 1vw;
                        transition: 0.2s width, 0.2s height;
                        transform: translate(calc(7.5vw - 50%), calc(5vh - 50%));
                        animation: 2s pulsatorAnimation infinite ease-in-out;
                    }
                }
                .openRegistrationButtonContainer.hover
                {
                    .openRegistrationButton
                    {
                        width: 100%;
                        height: 100%;
                    }
                }
                .box
                {
                    position: fixed;
                    bottom: 0%;
                    width: calc(100% - 4px);
                    height: 70vh;
                    background-color: rgb(240, 240, 255);
                    border: 2px solid rgb(180, 180, 180);
                    border-radius: 20px 20px 0px 0px;
                    transform: translateY(calc(var(--scrollPositionP) * -150 + 150% - 1em - 10px));
                    .boxContainer
                    {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: space-between;
                        .promotionContainer
                        {
                            width: 30vw;
                            margin: 2vw 2vw 2vw 4vw;
                            text-align: center;
                            color: rgb(210, 210, 250);
                            font-family: Corbel;
                            img
                            {
                                width: 100%;
                                height: 90%;
                                object-fit: cover;
                            }
                        }
                        .reviewsContainer
                        {
                            width: 30vw;
                            margin: 2vw;
                            img
                            {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .mapContainer
                        {
                            display: flex;
                            width: 30vw;
                            margin: 2vw 4vw 2vw 2vw;
                            img
                            {
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .registration
                {
                    position: fixed;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    opacity: 0;
                    .registrationBackground
                    {
                        position: fixed;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                        transition: 0.5s opacity;
                        opacity: 0;
                    }
                    .registrationContainer
                    {
                        display: flex;
                        position: relative;
                        width: 50%;
                        height: 50%;
                        margin: auto;
                        padding: 10px;
                        align-items: center;
                        background-color: rgb(255, 255, 255);
                        border-radius: 10px;
                        transition: 0.5s transform, 0.5s opacity;
                        transform: scale(0.5);
                        opacity: 0;
                        .registrationForm
                        {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            .mapContainer
                            {
                                display: flex;
                                width: 50%;
                                #map
                                {
                                    width: 100%;
                                    height: 100%;
                                }
                                .mapObject
                                {
                                    border-radius: 10px;
                                }
                            }
                            .dataForm
                            {
                                flex-grow: 1;
                                margin-left: 10px;
                                overflow-y: auto;
                                .phoneTitle, .reasonTitle
                                {
                                    margin-top: 5px;
                                }
                                .nameInput, .phoneInput, .reasonInput
                                {
                                    width: calc(100% - 15px);
                                    margin-top: 5px;
                                    padding: 5px;
                                    border: 2px solid rgb(180, 180, 180);
                                    border-radius: 5px;
                                    transition: 0.1s box-shadow;
                                }
                                .reasonInput
                                {
                                    resize: none;
                                    height: 20%;
                                }
                                .nameInput:focus, .phoneInput:focus, .reasonInput:focus
                                {
                                    outline: none !important;
                                    border: 2px solid rgb(160, 170, 190);
                                    box-shadow: 0 0 10px rgb(160, 170, 190);
                                }
                                .registerButton
                                {
                                    width: fit-content;
                                    margin-left: auto;
                                    margin-top: 5px;
                                    padding: 10px 40px 10px 40px;
                                    align-self: center;
                                    border: 2px solid rgb(180, 180, 180);
                                    border-radius: 10px;
                                    transition: 0.1s background-color, 0.1s color;
                                }
                                .registerButton:hover
                                {
                                    border: 2px solid rgb(160, 170, 190);
                                    box-shadow: 0 0 10px rgb(160, 170, 190);
                                }
                                .registerButton:active
                                {
                                    color: rgb(255, 255, 255);
                                    background-color: rgb(160, 170, 190);
                                }
                            }
                        }
                    }
                }
                .registration.click
                {
                    z-index: 2;
                    opacity: 1;
                    .registrationBackground
                    {
                        opacity: 1;
                    }
                    .registrationContainer
                    {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
            .services
            {
                position: fixed;
                display: none;
            }
        }
        .footer
        {
            position: fixed;
            width: 100%;
            bottom: 0;
            background-color: rgb(20, 40, 60);
            z-index: 1;
            .text
            {
                padding: 5px;
            }
        }
    }
    #main:not(.scroll)
    {
        .header
        {
            .title
            {
                border-bottom: 2px solid none;
            }
            .buttonList
            {
                transform: translateY(-100%);
                .titleButton
                {
                    transition: 0.4s background-color;
                    .underline
                    {
                        transition: 0.25s transform, 0.25s background-color;
                    }
                }
                .titleButton:not(.hover)
                {
                    .underline
                    {
                        transform: scaleX(0.5);
                    }
                }
                .titleButton.hover
                {
                    .buttonText
                    {
                        color: rgb(255, 255, 255);
                    }
                    .underline
                    {
                        transform: scaleX(1);
                    }
                }
            }
        }
        .header:not(.hover)
        {
            .title
            {
                transition: 0.4s opacity, 0.5s 0.25s background-color;
                opacity: 1;
            }
            .buttonList
            {
                transition: 0.25s opacity, 0.4s transform;
                opacity: 0;
            }
        }
        .header.hover
        {
            .title
            {
                transition: 0s opacity, 0.4s 0.5s background-color;
                opacity: 0;
            }
            .buttonList
            {
                transition: 0.25s opacity, 0.4s transform;
                opacity: 1;
                z-index: 0;
                .titleButton
                {
                    .underline
                    {
                        background-color: rgb(180, 180, 180);
                    }
                }
            }
        }
        .footer
        {
            transition: 0.4s transform;
            transform: translateY(100%);
        }
    }
    #main.scroll
    {
        .header
        {
            .title
            {
                border-bottom: 2px solid rgb(180, 180, 180);
                transition: 0.2s opacity, 0.2s background-color;
                background-color: rgb(245, 245, 250);
                opacity: 1;
            }
            .buttonList
            {
                transition: 0.4s opacity, 0.5s transform;
                transform: translateY(0%);
                .titleButton
                {
                    background-color: rgb(245, 245, 250);
                    transition: 0.25s background-color;
                    .underline
                    {
                        transform: scaleX(0);
                    }
                }
                .titleButton:hover
                {
                    color: rgb(20, 40, 60);
                }
            }
        }
        .footer:not(.hover)
        {
            transition: 0.4s transform;
            transform: translateY(calc(100% - 1em - 10px));
        }
        .footer.hover
        {
            transition: 0.4s transform;
            transform: translateY(0%);
        }
    }
}
@media (max-width: 64em)
{
    #main {
        display: none;
    }
}
/*
.title
{
    padding: 9px;
    border-bottom: 2px solid transparent;
}
.buttonListForm
{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transform: translateY(calc(-100% - 2px));
    gap: 20px;
}
.button
{
    min-width: 200px;
    border-radius: 0px 0px 15px 15px;
}
.buttonText
{
    padding: 7px;
}
.underline
{
    margin: auto;
    opacity: 0;
    background-color: rgb(180, 180, 180);
    width: 50%;
    height: 2px;
    transform: scaleX(0.5);
}
    */

/*Transitions and relations*/