/*Main font*/

@font-face
{
    font-family: 'CorbelL';
    src: URL('./corbelL.ttf') format('truetype');
}
@font-face
{
    font-family: 'Corbel';
    src: URL('./corbel.ttf') format('truetype');
}
.corbelL
{
    font-family: 'CorbelL';
}
.corbel
{
    font-family: 'Corbel';
}

/*WebKit*/

::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background-color: rgb(160, 170, 190);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb
{
    background: rgb(120, 130, 150);
    border-radius: 2px;
}

/*General styles*/

body
{
    margin: 0px;
    background: rgb(210, 210, 250);
}
.disableSelect
{
    user-select: none;
}
.textCenter
{
    text-align: center;
}
.textRight
{
    text-align: right;
}
.textLarge
{
    font-size: 23px;
}
.textHuge
{
    font-size: 46px;
}
.textMedium
{
    font-size: 19px;
}
.textSmall
{
    font-size: 14px;
}
.colorGray
{
    color: rgb(140, 140, 140);
}
.colorWhite
{
    color: rgb(255, 255, 255);
}
.flexBox
{
    display: flex;
}
.flexCenter
{
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/*Class elements*/

.header
{
    position: sticky;
    top: 0;
    z-index: 1;
}
.title
{
    padding: 9px;
    border-bottom: 2px solid transparent;
}
.buttonListForm
{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transform: translateY(calc(-100% - 2px));
    gap: 20px;
}
.button
{
    min-width: 200px;
    border-radius: 0px 0px 15px 15px;
}
.buttonText
{
    padding: 7px;
}
.underline
{
    margin: auto;
    opacity: 0;
    background-color: rgb(180, 180, 180);
    width: 50%;
    height: 2px;
    transform: scaleX(0.5);
}

/*Transitions and relations*/

.header:hover > .title:not(.scrollAnimation)
{
    transition: 0s opacity;
    opacity: 0;
}
.title:not(.scrollAnimation)
{
    transition: 0.5s 0.25s background-color, 0.25s border-color, 0.4s opacity;
}
.title.scrollAnimation
{
    transition: 0.2s background-color;
    background-color: rgb(245, 245, 250);
    border-color: rgb(180, 180, 180);
}
.buttonListForm:not(.scrollAnimation)
{
    transition: 0.4s opacity, 0.5s transform;
}
.header:hover > .buttonListForm
{
    transition: 0.4s opacity, 0.5s transform;
    opacity: 1;
    z-index: 0;
}
.header:hover > .buttonListForm.scrollAnimation
{
    z-index: -1;
}
.buttonListForm.scrollAnimation
{
    transition: 0.4s opacity, 0.5s transform;
    opacity: 1;
    opacity: 1;
    transform: translateY(0);
    z-index: -1;
}
.button
{
    transition: 0.5s background-color;
}
.underline
{
    transition: 0.25s transform;
}
.button:hover
{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.button:hover > .underline
{
    transform: scaleX(1);
}
.buttonListForm.scrollAnimation > .button
{
    background-color: rgb(245, 245, 250);
}
.buttonListForm.scrollAnimation > .button:hover
{
    color: rgb(40, 40, 40);
}
.buttonListForm.scrollAnimation > .button > .underline
{
    transition: 0s transform;
    transform: scaleX(0);
}
.buttonListForm:not(.scrollAnimation):hover > .button > .underline
{
    opacity: 1;
}

/*
Triggers:
    scrollAnimation
*/

/*Content*/
.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 10px;
    background-color: rgb(20, 40, 60);
    color: white;
    transition: 0.5s transform;
}
.footer:not(.scrollAnimation)
{
    transform: translateY(100%);
}
.footer.scrollAnimation
{
    transform: translateY(80%);
}
.footer:hover
{
    transform: translateY(0);
}
.content
{
    margin: 40px;
}
.contentServices, .contentPatients, .contentDoctors
{
    display: none;
}
.contentMain
{
    height: 1200px;
}
.contentMain, .contentServices, .contentPatients, .contentDoctors
{
    transition: 0.5s transform 0.5s opacity;
}

/*main*/
.gridBox
{
    display: grid;
    grid-template-columns: 70% 30%;
}
.mainImage
{
    top: 100px;
    left: -150px;
    width: 80%;
    height: 80%;
    object-fit: contain;
    transform: rotate(-15deg);
    position: fixed;
    z-index: -1;
}
.mainInfoBox
{
    margin-top: 100px;
    margin-left: auto; 
    margin-right: 0;
    width: fit-content;
}
.mainTextBox
{
    width: 500px;
}
.registerButton
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 15px;
    border: 2px solid black;
    width: fit-content;
    text-align: center;
}

/*Services*/
.sercivesTable
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-height: 600px;
    overflow: auto;
    border-spacing: 2px 2px;
}
.sercivesTable > tbody
{
    margin-top: 0px;
}
.sercivesTable > tbody > tr
{
    background-color: rgb(120, 130, 150);
}
.sercivesTable > tbody > tr:nth-child(even)
{
    background-color: rgb(160, 170, 190);
}
.sercivesTable > tbody > tr > td
{
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
}