*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.button
{
    border: 4px solid rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    color: white;
    width: 120px;
    padding: 5px;
    text-align: center;
}
.button:hover
{
    background-color: white;
    color: rgb(100, 100, 100);
}
.title
{
    text-align: center;
    font-size: 30px;
    color: rgb(100, 100, 100);
}
#sendRequest
{
    margin-top: 10px;
}
.registerContainer
{
    margin-top: 50px;
}
.registerForm
{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#map
{
    margin-left: auto;
    margin-right: auto;
}
input
{
    padding: 5px;
    color: white;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
}
.dataText
{
    height: 120px;
    width: 800px;
}