@font-face
{
    font-family: 'Corbel';
    src: URL('./corbel.ttf') format('truetype');
}
*
{
    font-family: 'Corbel';
}
body
{
    margin: 0px;
    background: rgb(210, 210, 250);
}
.disableSelect
{
    user-select: none;
}
.textCenter
{
    text-align: center;
}
.textLarge
{
    font-size: 32px;
}
.colorGray
{
    color: rgb(140, 140, 140);
}
.flexBox
{
    display: flex;
}
.flexCenter
{
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}
.title
{
    padding: 10px;
    background-color: rgb(230, 230, 250);
    border-bottom: 3px solid rgb(120, 120, 120);
    border-radius: 0px 0px 10px 10px;
}
.button
{
    padding: 10px;
    background-color: rgb(230, 230, 250);
    border-radius: 0px 0px 20px 20px;
    min-width: 250px;
}